<!doctype html>
<html lang="en">

  <head>
    <title>Maguire Lab's Deep Learning Seizure Detection Webapp</title>
    <meta charset="utf-8">
    <meta name="description" content="In-browser detection of seizure activity from single-channel LFP/EEG brain recordings using deep learning.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧠</text></svg>">

    <!-- OG -->
    <meta property="og:title" content="Maguire Lab's Deep Learning Seizure Detection Webapp">
    <meta property="og:description" content="In-browser detection of seizure activity from single-channel LFP/EEG brain recordings using deep learning.">
    <meta property="og:image" content="/static/img/social.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- STYLE -->
    <link href="/static/bundle.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="/static/bundle.js?v=0.2" defer></script>

    <!-- LIBS -->
    <script src="https://unpkg.com/papaparse@5.2.0/papaparse.min.js" defer></script>
    <script src="https://unpkg.com/dygraphs@2.1.0/dist/dygraph.min.js" defer></script>
    <link href="https://unpkg.com/dygraphs@2.1.0/dist/dygraph.min.css" rel="stylesheet">
  </head>

  <body>
    <noscript>This application requires JavaScript.</noscript>
    <app-root aria-live="polite"></app-root>
  </body>

</html>