<!doctype html>
<html lang="en">

  <head>
    <title>Maguire Lab's | Deep learning seizure detection webapp</title>
    <meta charset="utf-8">
    <meta name="description" content="In-browser, open-source, deep learning-based seizure detection out of rodent EEG data.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- STYLE -->
    <link href="/static/bundle.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="/static/bundle.js?v=0.2" defer></script>

    <!-- LIBS -->
    <script src="https://unpkg.com/papaparse@5.2.0/papaparse.min.js" defer></script>
    <script src="https://unpkg.com/dygraphs@2.1.0/dist/dygraph.min.js" defer></script>
    <link href="https://unpkg.com/dygraphs@2.1.0/dist/dygraph.min.css" rel="stylesheet">
  </head>

  <body>
    <noscript>This application requires JavaScript.</noscript>
    <app-root aria-live="polite"></app-root>
  </body>

</html>